<html>
    <head>
        <title>Flight Planner</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>{{ city.getName }}</h1>
            </div>
            {% if flights is not empty %}
                <div class="flight-div">
                    <p>Here are the flights departing from this city:</p>
                    <ul>
                        {% for flight in flights %}
                            <li>{{ flight.getDepartureTime }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <h4>Add a flight to this city:</h4>

            <form action='/add_flights' method='post'>
                <input id="city_id" name="city_id" type="hidden" value="{{ city.getId }}">
                <label for="flight_id">Select a flight</label>
                <select id='flight_id' name='flight_id' type='text'>
                  {% for flight in all_flights %}
                    <option value="{{ flight.getId }}"> {{ flight.getDepartureTime }} </option>
                  {% endfor %}
                </select>
                <button type='submit'>Add flight</button>
            </form>

            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
